// Mis colores
$bg-color: #f1f1f1;
$primary-color: #6ac79b;
$dark-color: #707070;
$grey-color: #C4C4C4;

$facebook-color: #3B5998;
$google-color: #FAF8F8;

// Variables globales de bulma
$family-sans-serif: "Roboto", sans-serif;
$primary: $primary-color;
$dark: $dark-color;
$text: $dark-color;
$link: $primary-color;
$active: $primary-color;
$radius: 8px;

// Variables de componentes de bulma
$input-icon-active-color: $primary-color;
$navbar-item-active-color: $primary-color;
$body-background-color: $bg-color;
//$box-padding: 0px;
