.form-login {
   
   padding: 40px 45px;
}

.box {
   min-width: 700px;
   padding: 0;
   overflow: hidden;
}

.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 3.50rem);
}